@import "tailwindcss";
@import "tw-animate-css";

@layer clerk;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* #00c951 */
.cl-card {
  background-color: #00000000;
}

.cl-internal-1dauvpw,
.cl-internal-l2l775 {
  display: none;
}